[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SpatMCA"]
	path = SpatMCA
	url = https://github.com/egpivo/spatmca
[submodule "SpatPCA"]
	path = SpatPCA
	url = https://github.com/egpivo/spatpca
